<div class="row" id="panmargin">
	<div class="col-md-6 col-md-offset-3">
	<p id="notice"><%= notice %></p>
		<div class="panel panel-success">
			<div class="panel-heading">
				
			</div>
			<div class="panel-body">
				<p>
			  <strong>Name:</strong>
			  <%= @employee.name %>
			</p>

			<p>
			  <strong>Phone:</strong>
			  <%= @employee.phone %>
			</p>

			<p>
			  <strong>Job type:</strong>
			  <%= @employee.job_type %>
			</p>
			</div>
			<%= link_to 'Edit', edit_employee_path(@employee) %> |
			<%= link_to 'Back', employees_path %>
		</div>
	</div>
</div>





