<!DOCTYPE html>
<html>
<head>
  <title>Eprise</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
	<div class="header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNav">
		<span class="icon-bar"></a></span>
		<span class="icon-bar"></a></span>
		<span class="icon-bar"></a></span>		
		</button>
	<a href="" class="navbar-brand">Eprise</a>
	</div>
	<!-- collapse navbar-collapse -->
	<div class="collapse navbar-collapse" id="myNav">
		 <ul class="nav navbar-nav">
	 		<li><%= link_to 'Home', welcome_index_path %></li>
			<li><%= link_to 'About Us', welcome_about_path %></li>
			<li><%= link_to 'Contact Us', welcome_contact_path %></li>
			<li><%= link_to 'Features', welcome_features_path %></li>
			<li><%= link_to 'FAQs', welcome_faq_path %></li>
			<li><%= link_to 'Pricing', welcome_pricing_path %></li>

			<% if current_user %>
					<li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %> </li>
			<!-- dropdown -->
			<div class="dropdown pull-right navbar-btn right-nav">
				 <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="menu1">
				 	<span class="caret"></span> Admin
				 </button>
				 <ul class="dropdown-menu" role="menu" aria-labeledby="menu1">
				 	<li><%= link_to 'Invoices', invoices_path %></li>
				 	<li><%= link_to 'Companies', companies_path %> </li>
				 	<li><%= link_to 'Employees', employees_path %> </li>
				 </ul>
			</div><!-- /dropdown -->			
			
			<% else %>
			<li><%= link_to 'Sign Up', new_user_registration_path %> </li>
			<li><%= link_to 'Sign In', new_user_session_path %> </li>
			<% end %>
		 </ul>
	</div><!-- /collapse navbar-collapse -->
</nav>

<!-- container -->
<div class="container">

<% if flash[:notice] %>
<!-- alert alert-success -->
<div class="alert alert-success">
	<button class="close" type="button" data-dismiss="alert">&times;</button>
	<%= flash[:notice] %>
</div><!-- /alert alert-success -->

<% elsif flash[:error] %>	
<!-- alert alert-danger -->
<div class="alert alert-danger">
	<button class="close" type="button" data-dismiss="alert">&times;</button>
	<%= flash[:error] %>
</div><!-- /alert alert-danger -->

<% elsif flash[:alert] %>
<!-- alert -->
<div class="alert">
	 <button class="close" type="button" data-dismiss="alert">&times;</button>
	 <%= flash[:alert] %>
</div><!-- /alert -->

<% end %>
	
	<%= yield %> 
	<hr>
	<center><p>&copy; - <%= Time.now.year %> West Brown</p></center>

</div><!-- /container -->
</body>
</html>
