<!DOCTYPE html>
<html>
<head>
<%= render 'partials/head' %>
</head>
<body>	
	<!-- container -->
	<div class="container">		 
		 <span class="navbar-fixed-top" onclick="openNav()"><h4>&#9776; <i>AccessTech.io</i></h4></span>
		 <%= render 'partials/nav' %>
	</div><!-- /container -->	

		<%= yield %>
	
	<div id="header">
		<% if flash[:notice] %>
		<!-- alert alert-success -->
		<div class="alert alert-success">
			<button class="close" type="button" data-dismiss="alert">&times;</button>
			<%= flash[:notice] %>
		</div><!-- /alert alert-success -->

		<% elsif flash[:error] %>	
		<!-- alert alert-danger -->
		<div class="alert alert-danger">
			<button class="close" type="button" data-dismiss="alert">&times;</button>
			<%= flash[:error] %>
		</div><!-- /alert alert-danger -->

		<% elsif flash[:alert] %>
		<!-- alert -->
		<div class="alert">
			 <button class="close" type="button" data-dismiss="alert">&times;</button>
			 <%= flash[:alert] %>
		</div><!-- /alert -->

		<% end %>
	</div>
	
	<div id="footer">
		<hr>
		<center><p class="footer1">&copy; - <%= Time.now.year %> AccessTech.io, Wilmington NC</p></center>
	</div>	

<%= render 'partials/js' %>
</body>
</html>
